name: Dependencies Example
on:
 push:
  branches:
   - main

jobs:
 dependencies-example:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout
     uses: actions/checkout@v5.0.1

   - name: Setup Node.js environment
     uses: actions/setup-node@v6.0.0
    
   - name: verification
     run: ls -alhR